{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>
{% endblock %}
{% block content %}

    <script>
        window.onload=init;
        function change_info(){
            var args = $("#project_form").serialize();
            window.location = "{% url 'appconf' %}?" + args
        }
        function init() {
            var box = document.getElementById("appconf");
            box.className="active";
            var box = document.getElementById("project_list");
            box.className="active";
        }
    </script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="project_form">
                {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="col-sm-2" style="padding-left: 0">
						 <a href="{% url 'project_add' %}"><li class="btn btn-success" ><b>添加项目</b></li></a>
            </div>
		<div class="col-sm-5" style="padding-left: 0px">
		<label>
                 <select id="id_product" name="product" class="form-control m-b input-sm" onchange="change_info()">
                     <option value="">中心列表</option>
                     {% for product in all_product %}
                         {% ifequal product.name product_name %}
                             <option value="{{product.name}}" selected> {{ product.name|slice:":20" }}</option>
                         {% else %}
                             <option value="{{product.name}}"> {{ product.name|slice:":20" }}</option>
                         {% endifequal %}
                     {% endfor %}
                 </select>
             </label>
             <label>
                                         <select name="server_type" class="form-control m-b input-sm" onchange="change_info()">
                                             <option value="">中间件类型</option>
                                             {% for type in server_types %}
                                                 {% ifequal type.0|int2str server_type %}
                                                     <option value="{{ type.0 }}" selected> {{ type.1 }}</option>
                                                 {% else %}
                                                     <option value="{{ type.0 }}"> {{ type.1 }}</option>
                                                 {% endifequal %}
                                             {% endfor %}
                                         </select>
            </label>
	  </div>
                    <div class="col-sm-4" style="padding-right: 0;">
             <a href="#" onclick="return project_export_excel()"><li name="export" class="btn btn-success search-btn-excel"><b>&nbsp;导出&nbsp;</b></li></a>
                    </div>
                    <div id="export"></div>
                </div>



                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="projectform">
                      <thead>
                        <tr>
                            <th width="3%">
                                <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('project_form')">
                            </th>
                            <th width="10%">项目名称</th>
                            <th width="9%">所属中心</th>
                            <th width="10%">负责人姓名</th>
                            <th width="10%">机器地址</th>
                            <th width="10%">应用URL</th>
                            <th width="10%">登录用户名</th>
                            <th width="8%">登录密码</th>
                            <th width="10%">服务器类型</th>
                            <th width="7%">JMX端口</th>
                            <th width="17%">操作</th>
                        </tr>
                      </thead>
                            <tbody>
                            {% for project in all_project %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ project.id }}" name="id" /></td>
                                    <td>{{ project.name }} </td>
                                    <td>{{ project.product }} </td>
                                    <td>{{ project.owner.name }} </td>
                                    <td>{{ project.source_address }} </td>
                                    <td><a target="_blank" href="{{ project.app_url }}">{{ project.app_url }}</a> </td>
                                    <td>{{ project.app_user }} </td>
                                    <td>{{ project.app_password }} </td>
                                    <td>{{ project.server_type }} </td>
                                    <td>{{ project.jmx_port }} </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" target="_blank" href="{% url 'jmx_info' project.source_address project.jmx_port project.server_type  0 %}" class="btn btn-xs btn-info">监控</a>
                                        <a href="{% url "project_edit" project.id %}"><span class="btn btn-sm btn-info">编辑</span></a>
                                        <a href="{% url "project_del"%}?project_id={{ project.id }}" onclick="return confirm('确认删除项目吗？')"><span class="btn btn-sm btn-danger ">删除</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                  </table>
                  <div class="btn-group">
                      <input type="button" id="project_del" class="btn btn-danger"   name="del_button" value="删除项目"/>
                  </div>
                </div>
            </div>
        </form>
    </section>

</div>
<script>
var issuper = "{{ is_superuser }}";
//alert(issuper);
if (issuper=="N")
{
	//alert(1);
	document.getElementById("id_product").disabled = "true";
}
  $(function () {
    $('#projectform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>
<script>

    function project_export_excel(){
        var project_id_all = getIDall();
        if (project_id_all == ''){
            if(confirm('您没有勾选，是否导出全部信息？')){
                var args = $("#project_form").serialize();
                window.location = "{% url 'project_export' %}?export=all&" + args
            }else{
                return false;
            }
        }else{
            var args = $("#project_form").serialize();
            window.location = "{% url 'project_export' %}?export=part&" + args
        }
    }

</script>
<script>
    $('#project_del').click(function () {
        var project_id_all = getIDall();
        if (project_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定删除?")) {
            $.ajax({
                type: "post",
                data: {project_id_all: project_id_all,csrfmiddlewaretoken: '{{ csrf_token }}'},
                url: "{% url 'project_del' %}",
                success: function () {
                    parent.location.reload();
                }
            });
        }
    });
</script>
{% endblock %}
